<div>
  <p>Hi {{name}},</p>
  <p>You requested to reset your account password.</p>
  <p>Here is the code you can use to reset it.</p>
  <p>
    Code:
    <strong>{{code}}</strong>
  </p>
  <em><strong>Note:</strong> This code will expire in 60 minutes</em>
  <div style='width:100%; display:flex; justify-content:center'>
    <img src='cid:logo' width='420' height='270' />
  </div>
</div>