<div>
  <span style='color:black'>Hi {{name}},</span><br />
  <span style='color:black'>You requested to reset your account password.</span><br />
  <span style='color:black'>Here is the code you can use to reset it.</span>
  <p>
    Code:
    <strong>{{code}}</strong>
  </p>
  <em>
    Note: This code will expire in 10 minutes
  </em>
  <div style='width:100%; display:flex; justify-content:center'>
    <img src='cid:logo' width='420' height='270' />
  </div>
</div>